@{
    ViewData["Title"] = "Home Page";
}

<html>

<div class="imgcontainer">
    <img src="https://sis.nws.noaa.gov/css/images/google_avatar.png" alt="Avatar" width="100px" height="100px" class="avatar">
</div>

<div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>
    <br>
    <br>

    <label for="psw"><b>Password</b></label>&nbsp;
    <input type="password" placeholder="Enter Password" name="psw" required>
    <label>
        &nbsp;
        <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
    <br>
    <br>
    <button type="submit">Login</button>

</div>
</div>
<br>
<div class="container" style="background-color:#f1f1f1">

    <span class="psw">Forgot <a href="#">password?</a></span>
</div>

</html>