
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>Login Page</h2>

    <a asp-controller="user" asp-action="signup"> Sign Up</a>

    <a asp-controller="user" asp-action="login"> Login</a>

    <a asp-controller="post" asp-action="addactivity"> Add Activity</a>
</body>
</html>