@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="~/css/Style.css" rel="stylesheet" type="text/css" />
    <link href="~/css/StyleSheet.css" rel="stylesheet" type="text/css"/>
    <link href="~/css/Style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <h2>Home Page</h2>
    <br />
    <br />

    <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
        <div class="container">

            <div class="row">
                <ul id="menu" style="float:left; list-style:none; margin-left:20px;">



                    <li>Etkinlik Adı</li>

                    <li>Etkinlik Detayı</li>

                    <li>Etkinlik Saat ve Tarihi</li>
                </ul>
                <br />
                <br />
            </div>
        </div>
        <div class="container">

            <div class="row">
                <ul id="menu" style="float:left; list-style:none; margin-left:20px;">



                    <li>Gezi</li>

                    <li>Piknik</li>

                    <li>Halı Saha</li>
                </ul>
                <ul>
                    <li class="panel">
                        <button button type="button" class="btn btn-default" data-toggle="collapse" data-parent="#accordion1" href="#firstLink">Katılımcılar</button>
                        <button button type="submit" class="btn btn-default" data-toggle="collapse" data-parent="#accordion1">Update</button>
                        <button button type="submit" class="btn btn-default" data-toggle="collapse" data-parent="#accordion1">Delete</button>
                        <ul id="firstLink" class="collapse">
                            <li>SubTest1</li>
                            <li>SubTest1</li>
                            <li>SubTest1</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="container">

            <div class="row">
                <ul id="menu" style="float:left; list-style:none; margin-left:20px;">



                    <li>Gezi</li>

                    <li>Piknik</li>

                    <li>Halı Saha</li>
                </ul>
                <ul>
                    <li class="panel">
                        <button button type="button" class="btn btn-default" data-toggle="collapse" data-parent="#accordion1" href="#secondLink">Katılımcılar</button>
                        <button button type="submit" class="btn btn-default" data-toggle="collapse" data-parent="#accordion1">Update</button>
                        <button button type="submit" class="btn btn-default" data-toggle="collapse" data-parent="#accordion1">Delete</button>
                        <ul id="secondLink" class="collapse">
                            <li>sdfg</li>
                            <li>SubTest1</li>
                            <li>SubTest1</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="container">

            <div class="row">
                <ul id="menu" style="float:left; list-style:none; margin-left:20px;">



                    <li>Gezi</li>

                    <li>Piknik</li>

                    <li>Halı Saha</li>
                </ul>
                <ul>
                    <li class="panel">
                        <button button type="button" class="btn btn-default" data-toggle="collapse" data-parent="#accordion1" href="#thirdLink">Katılımcılar</button>
                        <button button type="submit" class="btn btn-default" data-toggle="collapse" data-parent="#accordion1">Update</button>
                        <button button type="submit" class="btn btn-default" data-toggle="collapse" data-parent="#accordion1">Delete</button>
                        <ul id="thirdLink" class="collapse">
                            <li>SubTest1</li>
                            <li>SubTest1</li>
                            <li>SubTest1</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

    </form>



</body>
</html>