@page
@model PostModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Html.Partial("~/Views/Home/metaTag.cshtml")
    <title> Post list </title>
</head>
<body>
    <table cellpadding="2" cellspacing="2">
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                @Model.PostName
            </tr>
            <tr>
                @Model.PostDesc
            </tr>
            <tr>
                @Model.PostCreateTime
            </tr>

        }

    </table>
</body>
</html>