
@{
    Layout = null;
}

@model Etkinlik.UserModel
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Html.Partial("~/Views/Home/metaTag.cshtml")
    <title>Index</title>
</head>

<body>
    <h2>SignUp</h2>
    <form method="post" asp-controller="user" asp-action="signup">
        <table cellpadding="2" cellspacing="2">

            <tr>
                <td>
                    Username
                </td>
                <td>
                    <input type="text" asp-for="UserName" />
                </td>
            </tr>
            <tr>
                <td>
                    Name
                </td>
                <td>
                    <input type="text" asp-for="FullName" />
                </td>
            </tr>

            <tr>
                <td>
                    Mail
                </td>
                <td>
                    <input type="email" asp-for="UserEmail" id="mailBox" placeholder="Lütfen geçerli bir mail adresi girin"/>
                </td>
            </tr>
            <tr>
                <td>
                    Password
                </td>
                <td>
                    <input type="password" asp-for="Password" />
                </td>
            </tr>



            <tr>
                <td>
                    &nbsp;
                </td>
                <td>
                    <input type="submit" value="Save" />
                </td>
            </tr>
        </table>
        
    </form>
    <script type = "text/javascript" src = "../js/SignUp.js"></script>
</body>
</html>


