@page
@using Etkinlik.Models.ActivityViewModels
@using Etkinlik.Models
@using Etkinlik.Data

@model UpdateActivityModel
@inject ApplicationDbContext dbContext

@{
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>Diger</title>
</head>

<body>
    <form method="post" asp-controller="Post" asp-action="UpdateActivity">
        <table cellpadding="2" cellspacing="2">
            <tr>
                <td>
                    Etkinlik Adı
                </td>
                <td>
                    <input type="text" required autocomplete="off" value="@Model.PostName" />
                </td>
            </tr>
            <tr>
                <td>
                    Etkinlik Detayı
                </td>
                <td>
                    <input type="text" value="@Model.PostDesc" />
                </td>
            </tr>

            <tr>
                <td>
                    Tarih
                </td>
                <td>
                   <input type="datetime-local" value="@Model.PostTime" />
                </td>
            </tr>
            <tr></tr>

            <tr>
                <td>
                    &nbsp;
                </td>
                <td>
                    <input type="submit" value="UpdateActivity" />
                </td>
                <td>
                    <input asp-action="DeleteActivity" type="submit" value="del" />
                </td>
            </tr>
        </table>
    </form>
</body>
</html>