@using Etkinlik.Models.ActivityViewModels

@using Etkinlik.Models.ActivityViewModels
@{
    ViewData["Title"] = Model.PostName;
}

@model UpdateActivityModel

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>

<body>
    <form asp-controller="Post" >
        <table cellpadding="2" cellspacing="2">
            <tr>
                <td>
                    Etkinlik Adı
                </td>
                <td>
                    <input type="text" required autocomplete="off" asp-for="PostName" />
                </td>
            </tr>
            <tr>
                <td>
                    Etkinlik Detayı
                </td>
                <td>
                    <input type="text" asp-for="PostDesc" />
                </td>
            </tr>

            <tr>
                <td>
                    Tarih
                </td>
                <td>
                    <input type="datetime-local" asp-for="PostTime" />
                </td>
            </tr>
            <tr></tr>

            <tr>
                <td>
                    &nbsp;
                </td>
                <td>
                    <input method="delete" asp-page-handler="DeleteActivity" type="submit" value="del" />
                    <a href="/Post/delete/@Model.Id"> sil</a>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>