@using Etkinlik.Models
@model SurveyModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <title>Index</title>
</head>

<body>
    <div class="container" style="margin-top:40px">
        <div class="row">
            <div class="form-field  form-field-field-list`2 " id="form-field-options">

                <label for="field-options">
                    <span title="" class="">

                    </span>
                </label>


                <div id="field-options" class="covert-list field-list ui-sortable" data-hide-add-link="True" data-render-remove-link="False" data-render-add-link="True">


                    <div class="form-field horizontal">

                        <label>1. </label>

                        <!-- Field -->


                        <input type="text" name="options-option-1" id="field-options-1-option" value="" autocomplete="off" placeholder="Enter poll option" maxlength="200" tabindex="1" data-validation-length="..200" data-validation-length-message="Poll option must not contain more than 200 characters." class="valid">

                    </div>



                    <a href="#" class="field-list-new-entry" style="display: none;">New entry</a><div class="form-field horizontal">

                        <!-- Field -->


                        <label>2. </label><input type="text" name="options-option-2" value="" autocomplete="off" placeholder="Enter poll option" maxlength="200" tabindex="2" data-validation-length="..200" data-validation-length-message="Poll option must not contain more than 200 characters." class="valid">

                    </div><div class="form-field horizontal">

                        <!-- Field -->


                        <label>3. </label><input type="text" name="options-option-3" value="" autocomplete="off" placeholder="Enter poll option" maxlength="200" tabindex="2" data-validation-length="..200" data-validation-length-message="Poll option must not contain more than 200 characters." class="valid">

                    </div><div class="form-field horizontal">

                        <!-- Field -->


                        <label>4. </label><input type="text" name="options-option-4" value="" autocomplete="off" placeholder="Enter poll option" maxlength="200" tabindex="2" data-validation-length="..200" data-validation-length-message="Poll option must not contain more than 200 characters." class="valid">

                    </div><div class="form-field horizontal">

                        <!-- Field -->


                        <label>5. </label><input type="text" name="options-option-5" value="" autocomplete="off" placeholder="Enter poll option" maxlength="200" tabindex="2" data-validation-length="..200" data-validation-length-message="Poll option must not contain more than 200 characters." class="valid">

                    </div><div class="form-field horizontal">

                        <!-- Field -->


                        <label>6. </label><input type="text" name="options-option-6" value="" autocomplete="off" placeholder="Enter poll option" maxlength="200" tabindex="2" data-validation-length="..200" data-validation-length-message="Poll option must not contain more than 200 characters." class="valid">

                    </div></div></div></div></div>
</body></html>