@using Etkinlik.Views.Manage
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();

}
@Html.Partial("~/Views/metaTag.cshtml")
<div class="account-wrapper">

    <ul class="account-button-list">
        <li class="@ManageNavPages.IndexNavClass(ViewContext) account-button-line">
            <a asp-action="Index" style="background-color:red;  color:white">Profile</a>

        </li>
        <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext) account-button-line">
            <a asp-action="ChangePassword" style="background-color:red; color:white">Password</a>
        </li>
        @if (hasExternalLogins)
        {
            <li class="@ManageNavPages.ExternalLoginsNavClass(ViewContext) account-button-line">
                <a asp-action="ExternalLogins">External logins</a>
            </li>
        }
    </ul>
</div>


